.mage>.player {
	height: 260px;
}

.mage>.sword {
	top: 80px;
	left: 38px;
	transform: rotate(113deg);
}

.mage>.mace {
	top: 88px;
	left: 5px;
	transform: rotate(113deg);
}

.mage>.axe {
	top: 90px;
	left: 10px;
	transform: rotate(113deg);
}

.mage>.staff {
	top: 3px;
	left: 0px;
	transform: rotate(113deg);
}

.mage>.wand {
	top: 92px;
	left: 15px;
	transform: rotate(113deg);
}

.mage>.dagger {
	top: 96px;
	left: 19px;
	transform: rotate(113deg);
}

.mage>.scythe {
	top: 85px;
	left: -20px;
	transform: rotate(113deg);
}

.mage>.helmet {
	top: -5px;
	left: -7px;
}

.mage>.cape {
	top: 20px;
	left: -70px;
}

.mage>.wings {
	top: 0px;
	left: -108px;
}

.mage>.speech-bubble {
	top: -80px;
	left: -73px;
}