.rogue>.player {
	top: 26px;
	left: -44px;
	height: 222px;
}

.rogue>.sword {
	transform: rotate(10deg);
	top: 46px;
	left: 55px;
}

.rogue>.mace {
	transform: rotate(10deg);
	top: 91px;
	left: 40px;
}

.rogue>.axe {
	transform: rotate(10deg);
	top: 71px;
	left: 35px;
}

.rogue>.staff {
	transform: rotate(10deg);
	top: 0;
	left: 50px;
}

.rogue>.wand {
	transform: rotate(10deg);
	top: 90px;
	left: 50px;
}

.rogue>.dagger {
	transform: rotate(10deg);
	top: 95px;
	left: 54px;
}

.rogue>.dagger2 {
	position: absolute;
	transform: rotate(260deg);
	height: 34px;
	top: 137px;
	left: 90px;
}

.rogue>.scythe {
	position: absolute;
	transform: scaleX(-1) rotate(10deg);
	top: 60px;
	left: -11px;
}

.rogue>.helmet {
	transform: rotate(16deg);
	top: 45px;
	left: 82px;
}

.rogue>.cape {
	transform: rotate(40deg);
	top: 30px;
	left: -21px;
}

.rogue>.wings {
	transform: rotate(30deg);
	top: 5px;
	left: -24px;
}

.rogue>.speech-bubble {
	top: -25px;
	left: 14px;
}