#viewport {
	width: 750px;
	height: 450px;
	top: 0;
	left: 0;
	position: absolute;
	background-image: url("img/background.png");
	background-repeat: no-repeat;
	background-size: contain;
}

#ui {
	width: 750px;
	top: 450px;
	left: 0;
	background-color: green;
	height: calc(100% - 450px);
	position: absolute;
}

#log {
	left: 750px;
	top: 0;
	width: calc(100% - 750px);
	height: 100%;
	background-color: blue;
	position: absolute;
}

#formA {
	width: 750px;
	position: absolute;
	left: 0;
}

#player-character {
	position: absolute;
	top: 95px;
	left: 100px;
	height: 260px;
}

#enemy-character {
	position: absolute;
	transform: scaleX(-1);
	top: 95px;
	right: 130px;
	height: 260px;
}

.sword, .helmet, .cape, .mace, .wings, .axe, .staff, .wand, .dagger, .scythe, .player, .projectile, #player-character-static, #enemy-character-static {
	position: absolute;
}

.sword {
	height: 85px;
}

.axe {
	height: 57px;
}

.scythe {
	height: 115px;
}

.mace {
	height: 45px;
}

.staff {
	height: 223px;
}

.wand {
	height: 43px;
}

.dagger {
	height: 34px;
}

.helmet {
	height: 47px;
}

.cape {
	height: 171px;
}

.wings {
	height: 114px;
}

.gear, .speech-bubble {
	display: none;
}

.active {
	display: block;
}

.speech-bubble {
	position: absolute;
	height: 50px;
	width: 200px;
	background-color: white;
	border-radius: 10px;
	border: 1px solid black;
}

.speech-tri {
	position: absolute;
	width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    top:50px;
    left: 90px;
}

.speech-tri-shadow {
	position: absolute;
	width: 0; 
    height: 0; 
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #000;
    top:50px;
    left: 88px;
}

.speech-text {
	margin: 12px;
	position: absolute;
	font-size: 12px;
}

#attacks {
	position: absolute;
	top: 350px;
	left: 0;
	width: 750px;
	height: 100px;
	
}

.skill {
	background-color: red;
	border: 3px solid #a45200;
	height: 30px;
	width: 30px;
	border-radius: 2px;
	top: 48px;
	position: absolute;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: contain;
}

.skill:hover {
	background-color: #e05920
}

.skill:active {
	background-color: #510000
}

.unavailable-skill {
	background-color: #825b47;
	cursor: default;
}

.unavailable-skill:hover {
	background-color: #825b47
}

.unavailable-skill:active {
	background-color: #825b47
}

#HPpot {
	left: 24px;
	background-image: url("img/icon/HPpot.png");
}

#skill1 {
	left: 69px;
}

#skill2 {
	left: 106px;
}

#skill3 {
	left: 143px;
}

#skill4 {
	left: 180px;
}

#skill5 {
	left: 217px;
}

#skill6 {
	left: 254px;
}

#skill7 {
	left: 291px;
}

#attack {
	width: 96px;
	height: 60px;
	top: 33px;
	left: 327px;
}

#attackText {
	font-size: 30px;
	color: #ffff00;
	-webkit-text-stroke: 1px black;
	text-stroke: 1px black;
	font-family: sans-serif;
	margin:auto;
	position: absolute;
	left: 2.15px;
	top: 12.125px;
}

#skill8 {
	left: 429px;
}

#skill9 {
	left: 466px;
}

#skill10 {
	left: 503px;
}

#skill11 {
	left: 540px;
}

#skill12 {
	left: 577px;
}

#skill13 {
	left: 614px;
}

#skill14 {
	left: 651px;
}

#MPpot {
	left: 697px;
	background-image: url("img/icon/MPpot.png");
	background-repeat: no-repeat;
	background-size: contain;
}

#trinket {
	top: 4px;
	left: 651px;
}

