.warrior>.player {
	height: 260px;
}

.warrior>.sword {
	top: 0;
	left: 58px;
}

.warrior>.mace {
	top: 45px;
	left: 48px;
}

.warrior>.axe {
	top: 26px;
	left: 40px;
}

.warrior>.staff {
	top: 0;
	left: 60px;
}

.warrior>.wand {
	top: 40px;
	left: 56px;
}

.warrior>.dagger {
	top: 50px;
	left: 56px;
}

.warrior>.scythe {
	top: 10px;
	left: 59px;
}

.warrior>.helmet {
	top: -5px;
	left: -2px;
}

.warrior>.cape {
	top: 20px;
	left: -64px;
}

.warrior>.wings {
	top: 0px;
	left: -104px;
}

.warrior>.speech-bubble {
	top: -80px;
	left: -70px;
}